:root {
  --bg-color: #f0e5df;
  --txt-highlight: #cc4b96;
  --txt-hover: #a20160;
}

body {
  background-color: var(--bg-color);
}

main {
  min-height: calc(100vh - 4rem);
}

.menu {
  height: 4rem;
  background-color: var(--bg-color);
}

.menu-item {
  font-size: 1.3em;
  text-align: left;
}

a {
  color: var(--txt-highlight);
  text-decoration: none;
}

a:hover {
  color: var(--txt-hover);
}

a.active {
  color: var(--txt-hover);
}

.landing-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.7em;
  font-weight: 500;
  width: 100%;
}

.figure {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
  text-align: center;
}

.figure-img {
  max-width: min(60vw, 400px);
}

.landing {
  min-height: calc(100vh - 4rem);
}

.highlight {
  color: var(--txt-highlight);
}

.arrow-after:after {
  display: inline-block;
  content: "";
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: currentColor;
  -webkit-mask: url(https://assets.website-files.com/60180dabe97688768823f75f/607565e1313a25574f28e4e4_arrow-right.svg)
    no-repeat 50% 50%;
  mask: url(https://assets.website-files.com/60180dabe97688768823f75f/607565e1313a25574f28e4e4_arrow-right.svg)
    no-repeat 50% 50%;
  margin: 0.1em 0 0 0.3em;
  width: 0.75em;
  height: 0.68em;
}

a[target="_blank"]:after {
  display: inline-block;
  content: "";
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: currentColor;
  -webkit-mask: url(https://assets.website-files.com/608fb40c3d9b077577fce197/60dd69136bc238e82174de73_external-link.svg)
    no-repeat 50% 50%;
  mask: url(https://assets.website-files.com/608fb40c3d9b077577fce197/60dd69136bc238e82174de73_external-link.svg)
    no-repeat 50% 50%;
  margin: -0.3em -0.2em -0.25em 0.05em;
  width: 1.1em;
  height: 1.1em;
}

/* Dont show an arrow on elements with the class "no-arrow" or linked images */

a.no-arrow[target="_blank"]:after,
figure a[target="_blank"]:after {
  content: none;
}

.list-group-item {
  background: none;
  border: 0;
  padding: 0;
  /* margin-left: 1rem;
  margin-right: 1rem; */
}
