{% extends "base.html" %}
{% block title %}Le blog{% endblock %}

{% block content %}
<div class="container px-3 pt-4">
    <h1 class="text-center fw-bold">Elo's blog</h1>
    <div class="row fs-5">
        <p>C'est bien ici que vous pouvez retrouver un peu tout ce que j'ai fait
            et dont j'ai trouvé intéressant de discuter durant les quelques dernières années !
        </p>
    </div>
    <hr>

    {% if articles %}
    <div>
        {% for article in articles %}
        {% if article.is_visible %}
        <div class="row my-3">
            <div class="col-md-8">
                <h4 class="mb-3"><a href="{% url 'blog_read' article.slug_name %}" class="arrow-after">
                    {{ article.title }}</a></h4>
                <p>{{ article.text|truncatechars:250}}</p>
                <p>Posté le {{ article.pub_date | date:'d N Y' }}, modifié le {{ article.last_modified_date | date:'d N Y' }}.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="{{ MEDIA_URL }}{{ article.banner }}" class="img-thumbnail" alt="{{ article.title }}"
                    loading="lazy">
            </div>
        </div>
        <hr>
        {%endif%}
        {% endfor %}
        <p class="text-center">Fin :)</p>
    </div>
    {% else %}
    <div>
        <p>Aucun article disponible.</p>
    </div>
    {% endif %}

</div>
{% endblock %}