{% extends "base.html" %}
{% block title %}Le blog{% endblock %}

{% block content %}
<div class="container px-3 pt-4 fs-5">
    <h1 class="text-center fw-bold">Elo's blog</h1>
    <div class="row border-bottom fs-5 fw-light">
        <p>C'est bien ici que vous pouvez retrouver un peu tout ce que j'ai fait 
            et dont j'ai trouvé intéressant de discuter durant les quelques dernières années !
        </p>
    </div>

    {% if articles %}
    <div>
        {% for article in articles %}
            <div class="row my-3">
                <div class="col-8">
                    <h5><a href="{% url 'read_article' article.slug_name %}">{{ article.title }}</a></h5>
                </div>
                <div class="col-4">
                    <img src="{{ MEDIA_URL }}{{ article.banner }}" class="img-thumbnail" alt="{{ article.title }}">
                </div>
            <div>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <p>Aucun article disponible.</p>
    </div>
    {% endif %}

</div>
{% endblock %}