<!--
 Contact : Elowan - elowarp@gmail.com
 Creation : 25-07-2025 17:28:15
 Last modified : 30-07-2025 10:44:56
 File : about.html
-->
{% extends "base.html" %}
{% block title %}À propos{% endblock %}

{% block content %}
<div class="container px-3 pt-4 fs-5">
    <div class="row">
        <div class="col-4">
            <img src="" alt="Ma tete">
        </div>
        <div class="col-8">
            <p class="my-4">
                Actuellement en étude à l'Ecole Normale Supériere de Lyon 
                après trois ans de CPGE au lycée Thiers à Marseille, je compte
                poursuivre des études tournées majoritairement vers les sciences
                et l'informatique. Je pratique en parallèle le Parkour/Freerunning 
                depuis plus de 6 ans, en plus de m'essayer à la batterie et à 
                la guitare.
            </p>

            <p>
                Depuis maintenant quelques années, je prends beaucoup de plaisir à 
                créer des vidéos courtes, pour partager ce que j'aime comme des
                petits projets que j'ai pu faire 
                (<a target="_blank" href="https://youtu.be/8XdfuNv18dg?si=f06wujRTuUvko7gg">
                Hackintosh</a>, 3D Printer, Snake, ...). Même si mon passage en 
                prépa a nettement stoppé cette activité...
            </p>

        </div>
    </div>
    
</div>
{% endblock %}