{%block footer%}
<div class="container text-white">
    <div class="text-center pt-3">© Copyright 2022. Tous droits réservés.</div>
    <div class="row py-3">
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item"><a target="_blank" href="https://instagram.com/elowarp" title="Compte Instagram"><i class="fa-brands fa-instagram fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a target="_blank" href="https://github.com/elowarp" title="Compte Github"><i class="devicon-github-original fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a target="_blank" href="https://www.youtube.com/channel/UCWQcQ1ags7EVd056t7fsMEw" title="Compte Youtube"><i class="fa-brands fa-youtube fa-2x text-white"></i></a></li>
        </ul>
    </div>
</div>
{%endblock%}