{% extends "base.html" %}

{% load static %}

{% block content %}
<section id="presentation" class="d-flex align-items-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="nom my-4">Salut, je suis <span class="prenom">Elowan.</span></h1>
                <span class="fs-4 mt-4">
                    Je suis <span class="job">développeur</span>, mais pas que !
                </span>
            </div>
        </div>
    </div>
</section>
<section id="aboutme">
    <div class="container py-5">
        <div class="row mb-4">
            <h3>À ce propos..</h3>
            <h1>Qui est <span class="prenom">Elowan</span> ?</h1>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-md-4 mb-3">
                <div class="profil mx-auto d-block">
                    <img src="{% static 'images/profile.png'%}" alt="image de profil" class="profil-img ">
                </div>

            </div>
            <div id="description" class="col-12 col-md-8">
                <p id="quick-desc">
                    Un étudiant curieux et passionné par l'informatique.
                </p>
                
                <p class="my-4">Actuellement en classe de MPI étoilée au lycée Thiers à Marseille, je compte poursuivre des études 
                    tournées majoritairement vers les sciences et l'informatique. Je pratique en parallèle le Parkour/Freerunning 
                    depuis plus de 6 ans, en plus de m'essayer à la batterie et à la guitare.</p>

                <p>Depuis maintenant quelques années, je prends beaucoup de plaisir à créer des vidéos
                    courtes, pour partager par exemple des petits projets que j'ai pu faire (Hackintosh, 3D Printer, Snake, tutoriels...).
                    Même si mon passage en prépa a nettement stoppé cette activité...</p>

            </div>
        </div>
    </div>
</section>
<div class="angle angle1"></div>
<section id="skills">
    <div class="container py-5">
        <h1>Mes compétences</h1>
        <span class="fs-4">Que de bonnes choses ce que je maitrise</span>
        <div class="skills row my-5">
            <div class="col-4 col-md-3 col-lg-2 icons-skills">
                <i class="fa-brands fa-html5 fa-5x"></i>
                <span class="text-icon">HTML 5</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <i class="fa-brands fa-css3-alt fa-5x"></i>
                <span class="text-icon">CSS 3</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <i class="fa-brands fa-js-square fa-5x"></i>
                <span class="text-icon">Javascript</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <i class="fa-brands fa-python fa-5x"></i>
                <span class="text-icon">Python</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2 icons-skills">
                <i class="devicon-django-plain fa-5x"></i>
                <span class="text-icon">Django</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2 icons-skills">
                <i class="fa-brands fa-bootstrap fa-5x"></i>
                <span class="text-icon">Bootstrap 5</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <i class="devicon-c-plain fa-5x"></i>
                <span class="text-icon">C</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <i class="fa-brands fa-git-alt fa-5x"></i>
                <span class="text-icon">Git</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <i class="devicon-ocaml-plain fa-5x"></i>
                <span class="text-icon">Ocaml</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <i class="fa-solid fa-database fa-5x"></i>
                <span class="text-icon">Base de données</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <i class="fa-solid fa-terminal fa-5x"></i>
                <span class="text-icon">Ligne de commande</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <i class="fa-brands fa-linux fa-5x"></i>
                <span class="text-icon">Linux</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <i class="devicon-vscode-plain fa-5x"></i>
                <span class="text-icon">VS Code</span>
            </div>
            <div class="col-4 col-md-3 col-lg-2  icons-skills">
                <img src="{% static 'images/adobe.png' %}" alt="Adobe icone" class="m-auto"
                    style="width:6em; display: block; margin-bottom: 10px;">
                <span class="text-icon">Suite Adobe</span>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-12 col-lg-2 col-md-3 d-none d-md-flex">
                <img src="{% static 'images/england.png'%}" alt="Drapeau anglais" style="width:11rem"
                    class="float-start">

            </div>
            <div class="col-md-1">
                <div class="w-100"></div>
            </div>
            <div class="col-12 col-md-8 col-lg-9 m-auto">
                <span id="english" class="fs-4">J'ai aussi un niveau <span style="color:#FFFDFD">C1 en
                        anglais.</span></span>
            </div>
        </div>
    </div>
</section>
<div class="angle angle2"></div>
<section id="blog">
    <div class="container py-5">
        <h1>Pour une lecture en détails de certains de mes projets :</h1>
        <div class="row mt-4">
            {% for article in articles %}
            <div class="col-lg-4 col-12">
                <a href="{% url 'read_article' article.slug_name %}" class="text-decoration-none">
                    <div class="card bg-dark text-white my-3">
                        {%if article.banner %}<img src="{{ MEDIA_URL }}{{ article.banner }}" class="card-img" alt="{{article.image}}" loading="lazy">{%endif%}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text fs-6">Par {{ article.author }}</p>
                            <small class="card-text">{{ article.pub_date | date:'d N Y' }}</small>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- <div class="row mt-5">
            <h3>Vous pouvez aussi voir des sites vitrines montrant mes capacités sur le "terrain", pouvant vous inspirer différentes commandes à me faire ;)</h3>
        </div>
        <span class="d-block fs-6 text-muted my-3">Info à savoir : Les sites ne sont que des vitrines non
            fonctionnelles, elles n'ont pour but que de vous donner de l'inspiration quant à votre projet. Une seule
            page n'est disponible par "thème" mais le produit final contiendra autant de pages que
            nécessaires.</span>
        <div class="row mt-3">
            {% for page in pages%}
            <div class="col-lg-4 col-12">
                <a href="/sites?id={{page.id}}" class="text-decoration-none">
                    <div class="card bg-dark text-white my-3">
                        {%if page.image %}<img src="/media/{{page.image}}" class="card-img" alt="{{page.image}}" loading="lazy">{% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ page.name }}</h5>
                            <p class="card-text fs-6">{{ page.description }}</p>
                            <small class="card-text">{{ page.date| date:'d N Y' }}</small>
                            {% if page.prix %}<small class="d-block">Estimation: {{page.prix}} €</small>{% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-2">
            <span class="fs-4 text-center">Et d'autres sont encore à venir !!</span>
        </div> -->
    </div>

</section>
<div class="angle angle3"></div>
<section id="contactme">
    <div class="container py-5">
        <div class="row mb-5">
            <h1>Pour rentrer en contact avec moi : </h1>
        </div>
        <div class="row">
            <div class="mx-lg-3 mt-3">
                <div class="p-4 infotab">
                    <div>
                        <img src="{% static 'images/location.png' %}"
                            alt="Localisation icone, Icone par icones8.fr">
                        <span class="ms-3 fs-6 text-black">Montauban / Marseille, France</span>
                    </div>
                    <div class="mt-5">
                        <img src="{% static 'images/mail.png' %}" alt="Mail icone, Icone par icones8.fr">
                        <span class="ms-3 fs-6 text-black">elowarp [AT] gmail [DOT] com</span>
                    </div>
                    <div class="mt-5">
                        <span class=" fs-5 text-black">Ou directement sur les réseaux sociaux : @elowarp (Instagram)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}