{% extends "base.html" %}
{% block title %}Accueil{% endblock %}


{% load static %}

{% block scripts_top %}
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
{% endblock %}

{% block content %}
<!-- Landing -->
<div class="container-fluid">
    <div class="row flex-grow-1">
        <div class="landing p-5 d-block d-md-flex">
            <div class="col-md-6 col-12 d-md-flex align-content-between flex-wrap d-block">
                <div class="landing-text">
                    <p><span data-bs-toggle="tooltip" data-bs-title="c'est Frank Leboeuf,
                        vous voulez savoir combien coûte votre voiture ?">Salut</span>, </p>
                    <p>Je suis <span class="highlight">Elowan H</span> - <span id="job">étudiante</span> </p>
                </div>

                <div class="d-md-flex d-none mt-auto mx-0" style="font-size: 1.1em">
                    <ul class="p-0 list-group mx-0">
                        <li class="list-group-item">> <a href="mailto://elowarp[at]gmail[dot]com"
                                target="_blank">elowarp [at] gmail [dot] com</a></li>
                        <li class="list-group-item">> Lyon, France</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="figure">
                        <img class="d-block figure-img" src="{% static 'images/index/gifChat.gif' %}" loading="lazy">
                        Figure : Chat Wikipédia (<a
                            href="https://fr.m.wikipedia.org/wiki/Fichier:Cat_Laptop_-_Idil_Keysan_-_Wikimedia_Giphy_stickers_2019.gif"
                            target="_blank">Idil Keysan</a>)
                    </div>
                </div>
            </div>
            <div class="position-absolute bottom-0 start-50 translate-middle mb-5">
                <div id="down-arrow" role="button">
                    <i class="fa-solid fa-arrow-down fa-3x m-2 highlight"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Descriptions -->
<div class="container" style="margin-bottom: 20vh;">
    <div class="row">
        <hr class="d-block d-md-none mt-3">
        <div class="col-md-1">
            <strong>Travaux</strong>
        </div>
        <hr class="d-block d-md-none mt-3">
        <div class="col-md-11">
            <div class="row">
                <h5>Création d'une épreuve Informatique D</h5>

                <p>
                    Avec deux consoeurs de l'ENS Lyon, nous avons rédigé une épreuve
                    d'informatique dans le style de Maths D (épreuve de 6h de maths exigentes,
                    uniquement comptabilisée pour l'admissibilté à l'ENS Ulm après une prépa MP). En particulier,
                    <a href="https://bourotte.com/" target="_blank">Coda B.</a> a redigé le sujet, et avec Sarah M.
                    nous avons fourni le travail de relecture nécessaire pour que l'épreuve soit adaptée à un niveau
                    prépa. Je suis de plus en rédaction d'une correction. Nous ne sommes en aucun affiliées aux concours
                    ENS de quelconque manière que ce soit.
                </p>

                <div class="d-flex flex-row w-100">
                    <p class="w-50">
                        Décembre 2025
                    </p>
                    <div class="w-50 text-end">
                        <a href="{% get_media_prefix %}pdf/InfoD.pdf" target="_blank">
                            Sujet
                        </a>,
                        <a href="https://bourotte.com/info-d" target="_blank">
                            Page source
                        </a>
                    </div>

                </div>
            </div>
            <hr>
            <div class="row">
                <h5>Étude de la couverture des réseaux de métros</h5>

                <p>
                    Dans le cadre du
                    <a href="https://diplome.di.ens.fr/informatique-ens/" target="_blank">concours pour les
                        Écoles Normales Supérieure</a> (TIPE), j'ai été amenée à étudier les
                    réseaux métropolitains et en particulier les
                    zones les moins bien desservies en utilisant de la
                    topologie (Homologie persistante) et de l'informatique.
                </p>

                <div class="d-flex flex-row w-100">
                    <p class="w-50">
                        Juillet 2025
                    </p>
                    <a href="{% get_media_prefix %}pdf/rapportTIPE.pdf"
                        class="w-50 text-end" target="_blank">
                        Rapport
                    </a>

                </div>
            </div>
        </div>

    </div>
    <hr class="d-none d-md-block">
    <div class="row">
        <hr class="d-block d-md-none mt-3">
        <div class="col-md-1">
            <strong>Posts récents</strong>
        </div>
        <hr class="d-block d-md-none mt-3">
        <div class="col-md-11">
            {% for article in articles %}
            {% if article.is_visible %}
            <div class="row">
                <div class="">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p>{{ article.text|truncatechars:250 }}</p>

                    <div class="d-flex flex-row w-100">
                        <p class="w-50">
                            Posté le {{ article.pub_date | date:'d N Y' }},
                            modifié le {{ article.last_modified_date | date:'d N Y' }}.
                        </p>
                        <a href="{% url 'blog_read' article.slug_name %}" class="w-50 text-end" target="_blank">
                            Se rendre au post
                        </a>

                    </div>

                </div>
            </div>
            <hr>
            {% endif %}
            {% endfor %}
            <a href="{% url 'blog' %}" class="arrow-after fs-5">Voir le reste des articles</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts_bottom %}
<script>
    var typed = new Typed('#job', {
        strings: ['développeuse', 'étudiante', 'traceuse'],
        typeSpeed: 70,
        backDelay: 2000,
        backSpeed: 50,
        loop: true,
    });
    var down_btn = document.getElementById("down-arrow");
    var menutel = document.getElementById("menu-tel"); // Récupère le menu tel
    var menupc = document.getElementById("menu-pc"); // Récupère le menu pc

    // Choisis le menu affiché 
    var menu;
    if (menupc.offsetHeight == 0) { menu = menutel } else { menu = menupc }

    // Scroll de la bonne hauteur
    down_btn.addEventListener("click", () => {
        window.scrollTo({ left: 0, top: window.innerHeight - menu.offsetHeight, behavior: "smooth" });
    })
</script>

{% endblock %}