{% extends "base.html" %} {% block title %}Mentions légales{% endblock %} 
{% block content %}
<section>
  <div class="container mt-2 pt-5">
    <h1>Mentions légales</h1>
    <h3 class="mt-5">Informations</h3>
    <div>
      <p>Elowan H<br />Lyon 69000, France</p>
      <p>Contact : <br />Mail - me [at] elowarp [dot] com</p>
      <p>Site-web hébergé chez OVH en France.</p>
    </div>

    <h3 class="mt-5">Données personnelles</h3>
    <div>
      <p>
        Aucun partage avec un tier quel qu'il n'en soit n'est fait avec vos
        données. Seules les données expressément données sont gardées pendant 3
        ans ou alors jusqu'à la demande du client. Ces données ne sont reçues et
        vues que par le propriétaire du site.<br />
        Aucune autre information sur vous n'est conservée. Toutes modifications
        ou demande sur les données saisies se font via l'adresse mail de
        contact. <br> Les animations ainsi que les images de ce site sont une
        production de <span class="highlight">Elowan H</span> et les icones
        proviennent de
        <a href="https://fontawesome.com/" target="_blank">FontAwesome</a>.

      </p>
      <p>
        Le code source du serveur web est disponible <a href="https://github.com/Elowarp/portfolio" target="_blank">ici</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
