{% extends "base.html" %}
{% block title %}Mentions légales{% endblock %}

{% block content %}
<section>
    <div class="container mt-2 pt-5">
        <h1>Mentions légales</h1>
        <h3 class="mt-5">Informations</h3>
        <div>
            <p>Elowan H<br>82000 Montauban / 13000 Marseille</p>
            <p>Contact : Mail - <a href="mailto:elowarp@gmail.com">elowarp@gmail.com</a> / Instagram - <a href="https://www.instagram.com/elowarp">elowarp</a></p>
            <p>Site-web hébergé chez OVH en France.</p>
        </div>

        <h3 class="mt-5">Données personnelles</h3>
        <div>
            <p>
                Aucun partage avec un tier quel qu'il n'en soit n'est fait avec vos données.
                Seules les données expressément données sont gardées pendant 3 ans ou alors jusqu'à la
                demande du client. Ces données ne sont reçues et vues que par le propriétaire du site.<br>
                Aucune autre information sur vous n'est conservée. Toutes modifications ou demande sur les données saisies se font via l'adresse mail de contact.
            </p>
        </div>
    </div>
</section>
{% endblock %}